<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http: //www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="ROBOTS" content="ALL">
<meta name="Engine" content="all">
<meta name="distribution" content="global">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image-png" href="all-images/images/icon.png" />

<link href="awesome-font/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link href="style/animate.css" rel="stylesheet" type="text/css" media="all">
<link href="style/aos.css" type="text/css" rel="stylesheet" />
<link href="style/main-style.css" type="text/css" rel="stylesheet" />
<link href="style/nav-style.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="slide-property/engine/style.css" />
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/scripts.js"></script>

<meta property="og:type" content="Website" />
<meta property="og:site_name" content="DDP - Dilaac Digital Payment Service">
<meta property="og:url" content="https://ddp.afootechglobal.com/-index1.php" />
<title>DDP - Dilaac Digital Payment Service | momo | MTN | Bank Transfer</title>
<meta name="keywords" content="DDP - Dilaac Digital Payment Service, Dilaac Digital Payment, Dilaac Payment Platform, momo to momo payment, momo to bank payment" />
<meta name="description" content="DDP - Dilaac Digital Payment Service: A payment gateway allows merchants to securely pass credit card information between the customer and the merchant and vice versal."/>
<meta property="og:title" content="DDP - Dilaac Digital Payment Service: momo | MTN | Bank Transfer" />
<meta property="og:image" content="https://ddp.afootechglobal.com/all-images/plugin-pix/dilaac.jpg"/>
<meta property="og:description" content="DDP - Dilaac Digital Payment Service: A payment gateway allows merchants to securely pass credit card information between the customer and the merchant and vice versal."/>

<meta name="twitter:title" content="DDP - Dilaac Digital Payment Service:  momo | MTN | Bank Transfer"/> 
<meta name="twitter:card" content="DDP - Dilaac Digital Payment Service"/> 
<meta name="twitter:image"  content="https://ddp.afootechglobal.com/all-images/plugin-pix/dilaac.jpg"/> 
<meta name="twitter:description" content="DDP - Dilaac Digital Payment Service: A payment gateway allows merchants to securely pass credit card information between the customer and the merchant and vice versal."/>

</head>
<body>
<div class="success-div animated bounceInDown animated animated" id="success-div">
<div><i class="fa fa-check"></i></div> 
Password Reset Successfuly<br /> 
<span>Check your email to confirm.</span>
</div>


<div class="success-div animated bounceInDown animated animated" id="not-success-div">
<div><i class="fa fa-close"></i></div> 
Invalid Login Parameters<br /> 
<span>Please check the login detail.</span>
</div>


<div class="success-div animated bounceInDown animated animated" id="warning-div">
<div><i class="fa fa-warning (alias)"></i></div> 
Fill The Fields To Continue<br /> 
</div>















<div id="get-more-div">
  
</div> 





<div class="sidenavdiv">
<div class="sidenavdiv-in" onclick="_close_side_nav()"></div>

<div class="sidenavdiv-menu" id="menu-list-div"> 

   <div class="div">
    <a href="https://ddp.afootechglobal.com" title="Home Page">
      <li ><i class="fa fa-home"></i>Home Page</li></a>
    </div>
        
  
    <div class="div">
    <li onclick="_open_li('ddp')"><i class="fa fa-shopping-basket"></i> Why DDP <i class="fa fa-plus" id="side-expand"></i></li>
    <div class="sub-li" id="ddp-sub-li">
                            <li>Integration</li>
    </div>
    </div>
    <div class="div">
    <li onclick="_open_li('devops')"><i class="fa fa-shopping-basket"></i> Developers <i class="fa fa-plus" id="side-expand"></i></li>
    <div class="sub-li" id="devops-sub-li">
                            <li>Integration</li>
    </div>
    </div>
    <div class="div">
    <li onclick="_open_li('support')"><i class="fa fa-shopping-basket"></i> Support <i class="fa fa-plus" id="side-expand"></i></li>
    <div class="sub-li" id="support-sub-li">
                            <li>Integration</li>
    </div>
    </div>

    
    <div class="div">
      <li onclick="_call_login('log-in')"><i class="fa fa-user-circle"></i>Log-in</li>
    </div>
    
    <div class="div puple">
      <li onclick="_call_login('sign-up')"><i class="fa fa-user-plus"></i> Create An Account</li>
    </div>
    <div class="menu-title" style="height:100px;"> &nbsp;</div>
  </div>  
  
  
  
  
  
  
  
  
  
  
  

  
  
  <div id="live-chat-div"> <a href="tel:+2348169068985" title="Call Customer Care">
    <div class="div">
      <div>
        <div class="social-div" style="background:#008040;"><i class="fa fa-phone"></i></div>
        <div class="text">08169068985</div>
      </div>
      <br clear="all" />
    </div>
    </a> <a href="https://api.whatsapp.com/send?phone=+2348169068985" target="_blank" title="Whatsapp">
    <div class="div">
      <div>
        <div class="social-div" style="background:#25D366;"><i class="fa fa-whatsapp"></i></div>
        <div class="text">08169068985</div>
      </div>
      <br clear="all" />
    </div>
    </a> <a href="https://web.facebook.com/" target="_blank" title="Facebook">
    <div class="div">
      <div>
        <div class="social-div" style="background:#2980b9;"><i class="fa fa-facebook"></i></div>
        <div class="text">Facebook Page </div>
      </div>
      <br clear="all" />
    </div>
    </a> <a href="https://web.twitter.com/" target="_blank" title="Twitter">
    <div class="div">
      <div>
        <div class="social-div" style="background:#3498db;"><i class="fa fa-twitter"></i></div>
        <div class="text">Twitter Page</div>
      </div>
      <br clear="all" />
    </div>
    </a> <a href="https://web.instagram.com/" target="_blank" title="Instagram">
    <div class="div">
      <div>
        <div class="social-div" style="background-image: linear-gradient(to right,#03F, #F0F);"><i class="fa fa-instagram"></i></div>
        <div class="text">Instagram Page</div>
      </div>
      <br clear="all" />
    </div>
    </a> </div>
</div>

 




<div class="header-div animated fadeInDown animated animated">

	<div class="header-top-div">
    	<div class="div-in">
        	<div class="contact email"><i class="fa fa-envelope"></i> info@dilaac.com</div>
        	<div class="contact email"><i class="fa fa-clock-o"></i> Monday - Friday (8AM - 9PM)</div>
        	<div class="contact"><i class="fa fa-phone-square"></i> +234-816-906-8985</div>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-facebook"></i></li>
            <li class="li"><i class="fa fa-phone"></i></li>
            <li class="li"><i class="fa fa-whatsapp"></i></li>
        </div><br clear="all" />
    </div>
    
    
    
    <div class="nav-div">
        <ul>
            <li>Why DDP <i class="fa fa-plus"></i><hr /></li>
            <li>Developers <i class="fa fa-plus"></i><hr /></li>
            <li>Support <i class="fa fa-plus"></i><hr /></li>
            <li  onclick="_call_login('log-in')">Login<hr /></li>
            <button class="btn"  onclick="_call_login('sign-up')"><i class="fa fa-user-plus"></i> Create An Account</button>
      </ul>
    </div>
    
    
</div>


 


<div class="new-header animated fadeInDown animated animated">  
	<div class="div-in">
    	<a href="https://ddp.afootechglobal.com" title="Home Page">
        <div class="logo-div"><img src="all-images/images/logo2.png" alt="Dilaac Digital payment logo"/></div></a>
        <li onclick="_open_menu()"><i class="fa fa-navicon (alias)"></i></li>
        <li title="Whatsapp Us"><i class="fa fa-whatsapp"></i></li>
        <li title="Call Us"><i class="fa fa-phone"></i></li>
    </div>  
</div>

<div class="slide-parent-div animated fadeIn animated animated">
<div class="slide-div">
	<div class="div-in">
    <!--	<div class="text-div animated fadeInLeft animated animated">
        	<div class="text">
        		<p>Welcome to Dilaac Digital Payment Service <hr /></p><br clear="all" />
                <h1 data-aos="fade-up" data-aos-duration="1500">We ensure your</h1>
                <h1 data-aos="fade-up" data-aos-duration="2000">business goal!</h1>
                <p>DDP allows merchants to securely fulfil MOMO payment between the merchant and the payment processor.</p>
                <button class="btn play"><i class="fa fa-play"></i></button>
                <button class="btn" onclick="_call_login('log-in')"><i class="fa fa-unlock"></i> Get Started</button>
        	</div>
        </div> -->
        
        <div class="pix-div animated fadeInLeft animated animated">
        	<a href="https://ddp.afootechglobal.com" title="Dilaac Digital Payment Service">
            <div class="logo-div" data-aos="flip-left" data-aos-duration="1500"><img src="all-images/images/logo.png" alt="Dilaac Digital payment logo"/></div></a>
            <i class="fa fa-phone-square"></i> +234 816 906 8985
        </div>
    </div>
 

</div>


 <!--Start WOWSlider.com BODY section -->
 <div class="the-slide">

  <!--   <div id="wowslider-container1">
 
<div class="ws_images">
<ul>
<li><img src="slide-property/data/images/1.png" alt="1" title="" id="wows1_0"/></li>
<li><img src="slide-property/data/images/2.png" alt="2" title="" id="wows1_0"/></li>
<li><img src="slide-property/data/images/3.png" alt="3" title="" id="wows1_2"/></li>
<li><img src="slide-property/data/images/4.png" alt="4" title="" id="wows1_1"/></li>


</ul>
</div>
</div>
-->
</div>
<script type="text/javascript" src="slide-property/engine/wowslider.js"></script>
<script type="text/javascript" src="slide-property/engine/script.js"></script>
</div>





<div class="live-chat-link-div" title="Chat With Us Now" onclick="_open_live_chat()">
<div class="live-chat-pix"><img src="all-images/images/cutomercare.jpg" alt="Customer Care"/></div>
<i class="fa fa-question"></i> Live Help
</div>

<div id="back2Top" title="Back to top"  onclick="_back_to_top();"><i class="fa fa-long-arrow-up"></i></div>
 


    <div class="login-div">
        <div class="left-div animated fadeInRight">
          <div class="in-div">
                <div class="pix-div animated fadeInLeft animated animated">
                    <div class="logo-div"><img src="all-images/images/logo1.png" alt="Dilaac Digital payment logo"/></div>
              </div>
         </div>
        </div>
        <div class="right-div animated fadeInLeft">
          <div class="in-div">
            <script>
              $(document).ready(function() {
                  $("#login-info").keydown(function(e){
                    if(e.keyCode==13){
                        _sign_in();
                    }
                  });
              });
              </script>
              
              <div class="detail" id="login-info">
                        <div class="logo-div"><img src="all-images/images/icon.png" title="Dilaac Digital payment Logo" /></div><br clear="all" />
                          <h2><i class="fa fa-user-circle"></i> Log-in Here<br /><hr /></h2>
              
                                  <form action="/login" method="post">
                          
                                      <div class="text-div">
                                              <div class="title"><i class="fa fa-envelope"></i> Email Address:</div>
                                                <input name="user" id="username" type="text" class="text_field input" placeholder="Enter Your Email Address" title="Enter Your Email Address" />
                                      </div>
                          
                                      <div class="text-div">
                                              <div class="title"><i class="fa fa-lock"></i> Password:</div>
                                                <input name="password" id="password" type="password" class="text_field input" placeholder="Enter Your Passowrd" title="Enter Your Password"/>
                                      </div>
                                      <div class="text-div">
                                             <button class="btn" type="submit" ><i class="fa fa-check"></i> Log-In </button>
                                      </div>
                                      <div class="alert" style="margin-bottom:5px;">Forget Password? <span onclick=" _view_div('reset-password-info')"> RESET PASSWORD</span>  | <span onclick="_call_login('sign-up')"> SIGN-UP HERE</span></div>
                              </form>
              </div>
                          
                          
                          
                          
                      <div class="detail" id="reset-password-info">
                          <br /><br /><br /><br />
                          <div class="alert alert-success"><span> <i class="fa fa-lock"></i> RESET PASSWORD</span></div>
                    <div class="text-div">
                                  <div class="title">Provide Email Address:</div>
                                    <input id="reset_password_email" type="text" class="text_field" placeholder="Enter Your Email Address" title="Enter Your Email Address" />
                    </div>
                    <div class="text-div">
                                   <button class="btn" type="button"  title="Next" id="reset-pwd-btn" onclick="_proceed_reset_password()"> Proceed <i class="fa fa-long-arrow-right"></i></button>
                    </div>
                          <div class="alert">Existing User? <span onclick=" _view_div('login-info')">LOG-IN HERE</span> </div>
                      </div>
                      
                          
              <script src="js/superplaceholder.js"></script> 
              <script>
                  superplaceholder({
                    el: username,
                      sentences: [ 'Enter Email Address', 'e.g sunaf4real@gmail.com', 'info@pec.com.ng', 'king123@hotmail.com', 'afootech2016@yahoo.com' ],
                      options: {
                      letterDelay: 80,
                      loop: true,
                      startOnFocus: false
                    }
                  });
              </script>
            </div>
            
            <div class="footer">
            <div class="footer-in">
            &copy; Copy Right Reserved 2021 -  <br /> <span> DDP - Dilaac Digital Payment Service   </span>
            </div>
            </div>   
             
        </div>
    
    </div>



    <script src="js/aos.js"></script>
    <script>
      AOS.init({
        easing: 'ease-in-out-sine'
      });
    </script>
</body>
</html>
